<section class="sb-header">
    <h1>SB App</h1>

    <div class="header-btn" (click)="onMenu()">
        <span class="glyphicon glyphicon-menu-hamburger"></span>
    </div>

    <nav class="sb-nav sb-menu-active" [@sidemenu]="animationState">

        <ul class="sb-nav-items-primary">
            <li routerLinkActive="sb-active-route"><a routerLink="/home">Home</a></li>
            <li routerLinkActive="sb-active-route"><a routerLink="/settings">Settings</a></li>
        </ul>

        <ul class="sb-nav-items-secondary">
            <li routerLinkActive="sb-active-route"><a routerLink="/login">
                <span class="glyphicon glyphicon glyphicon-log-in"></span>&nbsp;&nbsp;Login</a>
            </li>
        </ul>

    </nav>
</section>